.ant-form-item-span {
  min-width: 150px;
  display: flex;
  justify-content: left;
}

.span-item {
  min-width: 35px;
}

span.ant-form-item-required {
  &::before {
    content: '【必須】' !important;
    position: absolute;
    right: -40px;
    top: 3px;
    font-size: 12px !important;
  }

  &::after {
    content: '' !important;
  }
}

.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.swiper-slide-News {
  margin-right: 20px !important;
  width: 225px !important;
}

// .ant-row {
//   display: flex;
//   flex-direction: column;
// }

.ant-col {
  text-align: start !important;
  width: 100% !important;
}

.ant-col-8 {
  max-width: 25% !important;
}

.ant-col-16 {
  width: 100% !important;
}

.ant-col-offset-8 {
  margin-inline-start: 42% !important;
}

.ant-modal {
  top: 17px !important;
}
